<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                    </div>
                                    {{#if error_msg}}
                                    <div class="alert alert-danger">{{error_msg}}</div>
                                    {{/if}}
                                    {{#if error_pass}}
                                    <div class="alert alert-danger">{{error_pass}}</div>
                                    {{/if}}
                                    <form method="POST" action="/register" class="user">
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-user" id="firstName"
                                                    name="firstName" placeholder="First Name"
                                                    value="{{user.firstName}}">
                                                <div class="text-danger small text-small m-3">{{user.firstNameError}}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user" id="lastName"
                                                    name="lastName" placeholder="Last Name" value="{{user.lastName}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" id="email"
                                                name="email" placeholder="Email Address" value="{{user.email}}">
                                            <div class="text-danger small text-small m-3">{{user.emailError}}</div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="password" class="form-control form-control-user"
                                                    id="password" name="password" placeholder="Password"
                                                    value="{{user.password}}">
                                                <div class="text-danger small text-small m-3">{{user.passwordError}}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="password" class="form-control form-control-user"
                                                    id="repeatPassword" name="repeatPassword"
                                                    placeholder="Repeat Password" value="{{user.repeatPassword}}">
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-user btn-block"
                                            value="Register Account">
                                        <hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Register with Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>